
<div id="clearance" class="sign-up">
  <p>Por favor, selecione qual tipo de conta você deseja criar:</P>
    <p><%= link_to 'Fotógrafo', new_photographer_path %></p>
    <p><%= link_to 'Cliente', new_photographer_path %></p>
    <p><%= link_to 'Cancelar', home_path %></p>
</div>
