<h1>Editar Orçamento</h1>

<% if current_user.tipo == "Fotógrafo" %>
  <%= render 'edit_photographer_form', price_quote: @price_quote %>
<% else %>
  <%= render 'edit_client_form', price_quote: @price_quote %>
<% end %>

<%= link_to 'Cancelar', my_quotes_url %>
